# TODO: https://github.com/rtomayko/dotfiles/blob/rtomayko/.gitconfig
# TODO: http://stackoverflow.com/questions/267761/what-does-your-gitconfig-contain

[user]
    name = David Hu
    email = davidhu91@gmail.com

[color]
    status = auto
    branch = auto
    diff = auto
    interactive = auto

[alias]
    co = checkout

[apply]
    whitespace = fix  # http://stackoverflow.com/questions/267761/what-does-your-gitconfig-contain/347870#347870

[merge]
    tool = gvimdiff
