# TODO: https://github.com/rtomayko/dotfiles/blob/rtomayko/.gitconfig
# TODO: http://stackoverflow.com/questions/267761/what-does-your-gitconfig-contain

[core]
  editor = /usr/bin/vim  # http://tooky.github.com/2010/04/08/there-was-a-problem-with-the-editor-vi-git-on-mac-os-x.html
  whitespace = trailing-space,space-before-tab  # http://stackoverflow.com/questions/591923/make-git-automatically-remove-trailing-whitespace-before-committing
  excludesfile = ~/.gitignore_global

[user]
  name = David Hu
  email = davidhu91@gmail.com

[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto

[alias]
  co = checkout
  graph = log --graph --decorate --oneline --all --full-history
  glog = log --graph --decorate --oneline --pretty=format:"%h%x20%Cgreen%d%x20%Cred%an%x20%Cblue%ad%x20%Creset%s" --all --full-history --date=short
  st = status
  ci = commit
  br = branch
  df = diff
  dfs = diff --staged
  ls-ignored = ls-files --exclude-standard --ignored --others

[apply]
  whitespace = fix  # http://stackoverflow.com/questions/591923/make-git-automatically-remove-trailing-whitespace-before-committing

[merge]
  tool = vimdiff

  # Always show a diffstat at the end of a merge
	stat = true

[diff]
  # Use mnemonic prefixes (index, work tree, commit, object) instead of the standard a and b notation
	mnemonicprefix = true

  # Detect renames as well as copies
	renames = copies

[push]
  # Push the current branch to its upstream branch if no refspec given, instead of all branches (the default)
	default = upstream
